{% include "header.html" %}

<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
      <table class="table table-striped table-hover table-responsive align-middle">
        <caption class="caption-top">Пользователи</caption>
        <thead class="">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Участок</th>
            <th scope="col">Почта</th>
            <!--
            <th scope="col"></th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for user in users[1::] %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.plot_number}}</td>
            <td>{{user.email}}</td>
            <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_user', user_id=user.id) }}">✗</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
      <table class="table table-striped table-hover table-responsive align-middle">
        <caption class="caption-top">Пользователи</caption>
        <thead class="">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Участок</th>
            <th scope="col">Почта</th>
            <th scope="col">Время</th>
            <!--
            <th scope="col"></th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for user in unconfirmed_users %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.plot_number}}</td>
            <td>{{user.email}}</td>
            <td>{{user.time_msg_sent}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-5" style="max-width: 900px">
    <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
      <div class="">
       <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
        <table class="table table-striped table-hover table-responsive align-middle">
          <caption class="caption-top">Временный пропуск</caption>
          <caption>Пропуск действует до указанной даты включительно.</caption>
          <thead class="">
            <tr>
              <th scope="col">Номер</th>
              <th scope="col">Марка</th>
              <th scope="col">Участок</th>
              <th scope="col">Действие</th>
              <!--
              <th scope="col"></th>
              -->
            </tr>
          </thead>
          <tbody>
            {% for vehicle in temporary_passes %}
            <tr>
              <td>{{vehicle.vin}}</td>
              <td>{{vehicle.car_model}}</td>
              <td>{{vehicle.plot_owner.plot_number}}</td>
              {% if (vehicle.expiry_date - today).days < 0 %}
              <td style="color: red">до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}</td>
              {% else %}
              <td>до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}</td>
              {% endif %}             
              <td><a class="btn btn-outline-secondary btn-sm" role="button" href="{{url_for('update_pass', pass_id=vehicle.id) }}">↻</a> <a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_pass', pass_id=vehicle.id) }}">✗</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
     
     <table class="table table-striped table-hover table-responsive align-middle">
      <caption class="caption-top">Постоянный пропуск</caption>
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Марка</th>
          <th scope="col">Участок</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in permanent_passes %}
        <tr>
          <td>{{vehicle.vin}}</td>
          <td>{{vehicle.car_model}}</td>
          <td>{{vehicle.owner.plot_number}}</td>
          <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_transport', transport_id=vehicle.id) }}">✗</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>


<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
     
     <table class="table table-striped align-middle">
      <caption class="caption-top">Такси</caption>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Участок</th>
          <th scope="col">Время</th>
          <th scope="col">Описание</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in taxi_passes %}
        <tr>
          <td>Такси</td>
          <td>{{vehicle.plot_owner.plot_number}}</td>
          <td>{{vehicle.access_time - 2}}:00 - {{vehicle.access_time}}:00</td>
          <td>{{vehicle.car_model}} {{vehicle.vin}} {{vehicle.description}}</td>
          <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_taxi', taxi_id=vehicle.id) }}">✗</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>



{% include "footer.html" %}