{% include "header.html" %}

<!-- Temporary Passes -->
<div class="px-4">
  
  <ol class="list-group">
    <h3 class="display-6">Временные пропуска</h3>
    {% for vehicle in temporary_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-primary">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{vehicle.car_model}} {{vehicle.vin}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('update_pass', pass_id=vehicle.id) }}">Обновить</a></li>
            <li><a class="dropdown-item" href="{{url_for('delete_pass', pass_id=vehicle.id) }}">Удалить</a></li>
          </ul>
        
        <!-- Dropdown button -->
        активен до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}
      </div>
      <span class="badge bg-primary rounded-pill">{{vehicle.plot_owner.plot_number}}</span>

      
    </li>
    {% endfor %}
  </ol>
</div>
<!-- Temporary Passes -->

<!-- Taxi Passes -->
<div class="px-4">
  <ol class="list-group">
    <h3 class="display-6">Такси</h3>
    {% for vehicle in taxi_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-warning">
      <div class="ms-2 me-auto">
        <div class="fw-bold">ТАКСИ {{vehicle.car_model}} {{vehicle.vin}} {{vehicle.color}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('delete_taxi', taxi_id=vehicle.id) }}">Удалить</a></li>
          </ul>
          Приедет с {{vehicle.access_time - 2}}:00 до {{vehicle.access_time}}:00
        <!-- Dropdown button -->
      </div>
      <span class="badge bg-warning rounded-pill">{{vehicle.plot_owner.plot_number}}</span>
      
    </li>
    {% endfor %}
  </ol>
</div>
<!-- Taxi Passes -->

<!-- Permanent Passes -->
<div class="px-4">
  <ol class="list-group">  
  <h3 class="display-6">Постоянные пропуска</h3>
    {% for vehicle in permanent_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-success">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{vehicle.car_model}} {{vehicle.vin}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('delete_transport', transport_id=vehicle.id) }}">Удалить</a></li>
          </ul>
        
        <!-- Dropdown button -->
      </div>
      <span class="badge bg-success rounded-pill">{{vehicle.owner.plot_number}}</span>
      
    </li>
    {% endfor %}
  </ol>
</div>
<!-- Permanent Passes -->


<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
      <table class="table table-striped table-hover table-responsive align-middle">
        <caption class="caption-top">Пользователи</caption>
        <thead class="">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Участок</th>
            <th scope="col">Почта</th>
            <!--
            <th scope="col"></th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for user in users[1::] %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.plot_number}}</td>
            <td>{{user.email}}</td>
            <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_user', user_id=user.id) }}">✗</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
      <table class="table table-striped table-hover table-responsive align-middle">
        <caption class="caption-top">Пользователи, не подтвердившие учетную запись</caption>
        <thead class="">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Участок</th>
            <th scope="col">Почта</th>
            <th scope="col">Время</th>
            <!--
            <th scope="col"></th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for user in unconfirmed_users %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.plot_number}}</td>
            <td>{{user.email}}</td>
            <td>{{user.time_msg_sent}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




{% include "footer.html" %}