<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Новово 2</title>


  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

</head>
{% extends "bootstrap/base.html" %}

{% block navbar %}
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('home')}}">Новово 2</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('home')}}">Главная</a></li>
        {% if not logged_in%}
        <li><a href="{{url_for('login')}}">Войти</a></li>
        <li><a href="{{url_for('register')}}">Регистрация</a></li>
        {% else %}
        <li><a href="{{url_for('logout')}}">Выйти</a></li>
        <!--
          {% if id != 2 %}
        <li><a href="{{url_for('new_pass')}}">Новый пропуск</a></li>
          {% endif %}
          -->
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
{% endblock %}