{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

{% block content %}

  <div class="container">
    <h2>Вход в личной кабинет</h2>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        {% if error %}
            <p class=error> {{ error }}
        {% endif %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <p>
            Забыли пароль?
            <a href="{{url_for('reset_password_request')}}">Нажмите здесь, чтобы сбросить</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
