{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<main class="form-fields my-5">
  <form method="POST" action="{{url_for('reset_password', token=token)}}">
    {{ form.csrf_token() }}
    <h2 class="h3 mb-3 fw-normal">Сброс пароля</h2>
    {% if error %}
      <p class=error> {{ error }}
    {% endif %}
    <div class="form-floating">
      <div class="form-group">
        {{ form.password(type='password', placeholder='Пароль', class='form-control') }}
        {{ form.repeat_password(type='password', placeholder='Повторите пароль', class='form-control') }}
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-secondary w-100 btn btn-lg">Сохранить</button>
    </div>
  </form>
</main>

{% include "footer.html" %}
