{% include "header.html" %}


<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">СНТ "НОВОВО-2"</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Здесь вы найдете информацию о активных пропусках. Для создания нового пропуска нажмите кнопку ниже.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Добавить
      </button>
    </div>
  </div>
</div>

<!-- Test stuff-->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Пропуск на территорию</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Здесь вы можете выбрать вид пропуска, который хотите добавить для транспортного средства.</p>
        <p>Для личного транспорта подойдет постоянный пропуск, который не имеет ограничений.</p>
        <p>В дальнейшем вы всегда сможете отредактировать свой список.</p>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        -->
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{{url_for('add_transport')}}" class="btn btn-dark" >Постоянный</a>
          <a href="{{url_for('new_pass')}}" class="btn btn-secondary">Временный</a>
          <a href="{{url_for('add_taxi')}}" class="btn btn-warning">Такси</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

{% if current_user.temporary_passes %}
<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
      <table class="table table-striped table-hover table-responsive align-middle">
        <caption class="caption-top">Временный пропуск</caption>
        <caption>Пропуск действует до указанной даты включительно.</caption>
        <thead class="">
          <tr>
            <th scope="col">Номер</th>
            <th scope="col">Марка</th>
            <th scope="col">Участок</th>
            <th scope="col">Действие</th>
            <!--
            <th scope="col"></th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for vehicle in temporary_passes %}
          {% if id == vehicle.plot_owner.id %}
          <tr>
            <td>{{vehicle.vin}}</td>
            <td>{{vehicle.car_model}}</td>
            <td>{{vehicle.plot_owner.plot_number}}</td>
            {% if (vehicle.expiry_date - today).days < 0 %}
            <td style="color: red">до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}</td>
            {% else %}
            <td>до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}</td>
            {% endif %}
            
            <td><a class="btn btn-outline-secondary btn-sm" role="button" href="{{url_for('update_pass', pass_id=vehicle.id) }}">↻</a> <a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_pass', pass_id=vehicle.id) }}">✗</a></td>
            
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

{% if current_user.permanent_passes %}
<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
     
     <table class="table table-striped table-hover table-responsive align-middle">
      <caption class="caption-top">Постоянный пропуск</caption>
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Марка</th>
          <th scope="col">Участок</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in permanent_passes %}
        {% if id == vehicle.owner.id %}
        <tr>
          <td>{{vehicle.vin}}</td>
          <td>{{vehicle.car_model}}</td>
          <td>{{vehicle.owner.plot_number}}</td>
          <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_transport', transport_id=vehicle.id) }}">✗</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endif %}

{% if current_user.taxi_passes %}
<div class="container my-5" style="max-width: 900px">
  <div class="p-lg-4 row align-items-center rounded-3 border shadow-lg">
    <div class="">
     <!-- <h1 class="display-4 fw-bold lh-1">Автомобили с временным пропуском</h1>-->
     
     <table class="table table-striped align-middle">
      <caption class="caption-top">Такси</caption>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Участок</th>
          <th scope="col">Время</th>
          <th scope="col">Описание</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in taxi_passes %}
        {% if id == vehicle.plot_owner.id %}
        <tr>
          <td>Такси</td>
          <td>{{vehicle.plot_owner.plot_number}}</td>
          <td>{{vehicle.access_time - 2}}:00 - {{vehicle.access_time}}:00</td>
          <td>{{vehicle.car_model}} {{vehicle.vin}} {{vehicle.description}}</td>
          <td><a class="btn btn-outline-danger btn-sm" role="button" href="{{url_for('delete_taxi', taxi_id=vehicle.id) }}">✗</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endif %}
<!-- Test stuff-->


{% include "footer.html" %}