{% include "header.html" %}


<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">{{ current_user.settlement.name }}</h1>
  <h3 class="display-5">{{current_user.first_name}} {{current_user.last_name}}</h3>
  <h3 class="display-6">Участок {{ current_user.plot_number }}</h3>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Добавить новый пропуск
      </button>
    </div>
  </div>
</div>

<!-- Test stuff-->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Пропуск на территорию</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Здесь вы можете выбрать вид пропуска, который хотите добавить для транспортного средства.</p>
        <p>Для личного транспорта подойдет постоянный пропуск, который не имеет ограничений.</p>
        <p>В дальнейшем вы всегда сможете отредактировать свой список.</p>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        -->
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{{url_for('add_transport')}}" class="btn btn-dark" >Постоянный</a>
          <a href="{{url_for('new_pass')}}" class="btn btn-secondary">Временный</a>
          <a href="{{url_for('add_taxi')}}" class="btn btn-warning">Такси</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<!-- Temporary Passes -->
{% if current_user.temporary_passes %}
<div class="px-4">
  
  <ol class="list-group">
    <h3 class="display-6">Временные пропуска</h3>
    {% for vehicle in temporary_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-primary">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{vehicle.car_model}} {{vehicle.vin}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('update_pass', pass_id=vehicle.id) }}">Обновить</a></li>
            <li><a class="dropdown-item" href="{{url_for('delete_pass', pass_id=vehicle.id) }}">Удалить</a></li>
          </ul>
        
        <!-- Dropdown button -->
        активен до {{vehicle.expiry_date.strftime("%d-%m-%Y")}}
      </div>
      <span class="badge bg-primary rounded-pill">{{vehicle.plot_owner.plot_number}}</span>

      
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
<!-- Temporary Passes -->

<!-- Taxi Passes -->
{% if current_user.taxi_passes %}
<div class="px-4">
  <ol class="list-group">
    <h3 class="display-6">Такси</h3>
    {% for vehicle in taxi_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-warning">
      <div class="ms-2 me-auto">
        <div class="fw-bold">ТАКСИ {{vehicle.car_model}} {{vehicle.vin}} {{vehicle.color}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('delete_taxi', taxi_id=vehicle.id) }}">Удалить</a></li>
          </ul>
          Приедет с {{vehicle.access_time - 2}}:00 до {{vehicle.access_time}}:00
        <!-- Dropdown button -->
      </div>
      <span class="badge bg-warning rounded-pill">{{vehicle.plot_owner.plot_number}}</span>
      
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
<!-- Taxi Passes -->

<!-- Permanent Passes -->
{% if current_user.permanent_passes %}
<div class="px-4">
  <ol class="list-group">  
  <h3 class="display-6">Постоянные пропуска</h3>
    {% for vehicle in permanent_passes %}
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-outline-success">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{vehicle.car_model}} {{vehicle.vin}}</div> 

        <!-- Dropdown button -->
        
          <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('delete_transport', transport_id=vehicle.id) }}">Удалить</a></li>
          </ul>
        
        <!-- Dropdown button -->
      </div>
      <span class="badge bg-success rounded-pill">{{vehicle.owner.plot_number}}</span>
      
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
<!-- Permanent Passes -->

{% include "footer.html" %}