{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<!--
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if error %}
            <p class=error> {{ error }}
        {% endif %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

{% endblock %}
-->

<main class="form-fields my-5">
  <form method="POST" action="{{url_for('update_pass', pass_id=pass_id) }}">
    {{ form.csrf_token() }}
    <h2 class="h3 mb-3 fw-normal">{{pass_to_update.car_model}} {{pass_to_update.vin}}</h2>
    {% if error %}
      <p class=error> {{ error }}
    {% endif %}
    <div class="form-floating">
      <div class="form-group">
        {{ wtf.form_field(form.validation_period, type='date', class='form-control') }}
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-secondary w-100 btn btn-lg">Продолжить</button>
    </div>
  </form>
</main>

{% include "footer.html" %}