{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}


<main class="form-signin my-5 py-5">
    <form method="POST" action="{{url_for('auth.login')}}">
        {{ form.csrf_token() }}

        <h2 class="h3 mb-3 fw-normal">Вход в личной кабинет</h2>
        {% if error %}
            <p class=error> {{ error }}
        {% endif %}
        <!-- {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }} -->

        <div class="form-floating">
            <div class="form-group">
                {{ form.email(type='email', placeholder='Электронная почта', class='form-control', novalidate='True') }}
                {{ form.password(type='password', placeholder='Пароль', class='form-control', novalidate=True) }}
                <!--
                {{ wtf.form_field(form.email, type='email', id='floatingInput', class='form-control', placeholder='name@example.com') }}
                {{ wtf.form_field(form.password, type='password', class='form-control', placeholder='password') }} -->
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary w-100 btn btn-lg">Войти</button>
            <a class="dropdown-item" href="{{url_for('auth.register')}}">Впервые здесь? Регистрация</a>
            <a class="dropdown-item" href="{{url_for('auth.reset_password_request')}}">Забыли пароль?</a>
        </div>
        
    </form>
</main>

{% include "footer.html" %}
